.popup__input-job {
  border-style: none;
  padding: 0;
  margin: 0 auto 48px;
  width: 358px;
  height: 27px;
  font-size: 14px;
  line-height: 1.2;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 520px) {
  .popup__input-job {
    width: 238px;
    height: 27px;
    margin: 0 auto 45px;
  }
}
