.profile-edit__input {
  padding: 0;
  border-style: none;
  margin: 0 auto 30px;
  width: 358px;
  height: 27px;
  font-size: 14px;
  line-height: 1.2;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.profile-edit__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 520px) {
  .profile-edit__input {
    width: 238px;
  }

  .profile-edit__input:last-of-type {
    margin-bottom: 45px;
  }
}
