.popup__save-btn {
  margin: 0;
  padding: 0;
  margin: 0 auto 37px;
  width: 358px;
  height: 50px;
  background-color: black;
  font-size: 18px;
  line-height: 1.2;
  color: white;
  border-radius: 2px;
  transition: 0.6s;

}

.popup__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .popup__save-btn {
    width: 238px;
    height: 46px;
    margin: 0 auto 25px;
  }

}
