@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/add-btn/add-btn.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__card-photo/places__card-photo.css);
@import url(../blocks/places/__card-title/places__card-title.css);
@import url(../blocks/places/__card/places__card.css);
@import url(../blocks/like-btn/like-btn.css);
@import url(../blocks/places/__card-footer/places__card-footer.css);
@import url(../blocks/like-btn/_status/like-btn_status_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigth/footer__copyright.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__input-job/popup__input-job.css);
@import url(../blocks/popup/__input-name/popup__input-name.css);
@import url(../blocks/popup/__save-btn/popup__save-btn.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__grid/popup__grid.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__close/popup__close.css);

